influx_admin_pw = "asdfasdf"
influx_user_pw = "asdfasdf"
key_pair_name = "my-access-key"
public_key_path = "~/.ssh/mykey.pub"
private_key_path = "~/.ssh/mykey.pem"
grafana_admin_pw = "asdfasdf"
ssl_domain = "*.mydomain.org"